/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-apr-2019, 8.56.34
    Author     : tss
*/

/*si può usare first-child o nts-child(1)*/
.campo label:first-child{
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

/*per bordare campo in focus*/
input:focus{
    outline: solid 1px red;
}

.campo{
    margin-top: 10px;
    width: 55em;
}

/*mettendo tra parentesi quadre si seleziona per attributo
si chiama selettore per attributo*/
input[type=button], input[type=submit], input[type=reset]{
    /*15em vuol dire 15 caratteri*/
    width: 15em;
}

textarea{
    resize: none;
    margin: 0px;

}

input[type="text"], textarea, select, input[type="date"]{
    width: 20em;
    border: solid 1px blue;
}
textarea{
    height: 4em;
}


@media (orientation: portrait)
{
    .campo{
        width: 100%;
        text-align: center;
    }
    .campo label:nth-child(1){
        width: 100%;
        display: block;
        text-align: center;
    }
}
